.Student {
    background-image: url("/public/bg-sudent.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    padding: 5rem 5rem;
    overflow: hidden;
}

.Student-window {
    width: 100%;
}

.Student-window > img {
    width: 100%;
}

.student-bg-div {
    width: 10rem;
    margin: 20rem 0;
}

.student-bg-div> img {
    width: 100%;
    border-radius: 15px;
}
.Student-left-side {
    width: 40%;
}
.Student-right-side {
    width: 60%;
}


