.Student {
    background-image: url("/public/bg-sudent.jpg");
    background-repeat: no-repeat;
    height: 87vh;
    padding: 5rem 5rem;
    overflow: hidden;
}

.Student-window {
    width: 100%;
}

.Student-window > img {
    width: 100%;
    height: 30rem;
}

.student-bg-div {
    width: 10rem;
    height: 100%;
    margin: 0 4rem;
}
@media ((width >= 1024px) and (width <= 1200px)){
    .student-bg-div{
        margin: 0 2.5rem;
    }
}
.student-bg-div>  div > img {
    width: 100%;
    border-radius: 15px;
    margin: 2rem;
}

.Student-right-side {
    width: 50%;
}
.scrolls {
    animation: scroll 8s linear infinite; /* Adjust the duration to increase speed */
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1100%);
    }
}
.scrolls-1 {
    animation: scroll-1 8s linear 15; /* Adjust the duration to increase speed */
}

@keyframes scroll-1 {
    0% {
        transform: translateY(-1000%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (width <= 1023px){
    .Student{
        height: 70vh;
    }
    .Student-left-side{
        display: none;
    }
    .student-bg-div {
        display: flex;
        width: 200rem;
        height: 15rem;
    }
    .scrolls{
        height: 20rem;
        margin: 0 .5rem;
    }
    .scrolls-1{
        height: 20rem;
        margin: 0 .5rem;
    }
    

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-1100%);
        }
    }
    @keyframes scroll-1 {
        0% {
            transform: translateX(-1000%);
        }
        100% {
            transform: translateX(0);
        }
    }
}