.Test{
    background-color: #f2f3f7;
}
.test-person{
    width: 350px;
    border-radius: 30px;
}
.test-person{
    cursor: pointer;
}
.flag-div{
    background-color: #fff;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
}
.flag-div > img{
    width: 35px;
}
@media (width <= 1024px){
    .test-person{
        width: 300px;
    }
    .flag-text>p:first-child{
        font-size: 15px;
    }
    .flag-text >p:last-child{
        font-size: 12px;
    }
}
@media (width <= 600px){
    .test-person{
        width: 250px;
    }
    .flag-text>p:first-child{
        font-size: 14px;
    }
    .flag-text >p:last-child{
        font-size: 10px;
    }
}