.navbar {
    padding: 0 1.5rem;
    min-height: 3rem;
    font-family: "Sora", sans-serif;
}
.nav-logo {
    width: 15rem;
    height: 5rem;
    padding: 1rem 0;
}
.Nav-text-div{
    font-size: .90rem;
    font-weight: 450;
}
.Nav-text-div , .list-div ul li{
    color: #082f49!important;
}

.nav-logo.res {
    width: 1.5rem;
    height: 1rem;
}

.darrow {
    width: 15px;
    height: 13px;
}
.sign-div img{
    width: 20px;
    height: 24px;
    fill: #082f49!important;
}

.navbar-sec-div{
    border-left: 1px solid rgb(209, 209, 209);
}
.Nav-btn{
    border: 2px solid #013a8b;
    padding: .6rem 1.5rem;
    border-radius: 10px;
}
.nav-icon{
    width: 24px;
    height: 17px;
}
.dropdown .btn{
    background-color: white;
    border: none;
    height: 0;
    font-weight: 450;
    color: #082f49!important;
    min-height: 0;
}
.dropdown ul li{
    margin: .5rem 0;
}

@media (width <= 1024px){
    .navbar{
        min-height: 1.5rem;
        padding: .6rem 1rem;
    }
    .navbar-sec-div{
        border: none;
    }

}
.list-div-res{
    height: 100vh;
    background-color: #eee;
    padding: 1rem 1.5rem;
    font-family: "Sora", sans-serif;
    color: #013a8b!important;
    position: absolute;
    width: 100%;
    z-index: 10;
    transition: transform 0.5s ease-in-out;
}
.list-div-res.hidden{
    display: none;
    transform: translateY(0%)
}
.list-res{
    margin: 1.5rem 0!important;
    color: #092244!important;
    font-size: 17px;
}
.list-res .btn{
    font-size: 17px!important;
    padding: 0;
    margin: 0;
}
