@media (width <= 1023px){
    .flag-cir{
       background-color: white; 
       margin: 0 5rem;
       border-radius: 15px; 
       padding: 1rem 1rem;   
    }
    .country-bg-div{
        width: 60px;
        height: 60px;
    }
    .country-flag-div{  
        width: 60px;
        height: 60px;
    }
}
@media (width <= 600px){
    .country-bg-div{
        width: 40px;
        height: 40px;
    }
    .country-flag-div{  
        width: 40px;
        height: 40px;
    }
    .country-flag-div > img{
        width: 30px;
        height: 15px;
    }
}