
.footer-bg-img{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.footer-bg-img >img{
    width: 100%;
}
.areo{
    width: 55%;
    margin: auto;
    padding: 17.5% 0 0 0;
}
.btm-text > p{
    font-size: 12px;
}
@media (width <= 1024px) {
    .btm-text > p {
        font-size: 10px;
    }
    .areo{
        padding: 19% 0 0 0;
    }
}
@media (width < 768px){
    .areo{
        padding: 16% 0 0 0;
    }
}
@media (width <= 500px){
    .areo{
        padding: 11% 0 0 0;
    }
}