.autocomplete {
    height: 100%;
}

.auto-inner {
    display: flex;
    height: 100%;
    padding: 0 1rem;
    align-items: center;
}

.auto-inner input {
    background-color: #fff;
    text-align: start;
    width: 100%;
}

.auto-inner input:focus {
    outline: none;
}

.auto-inner input::placeholder {
    font-size: 1rem;
    color: #032c64;
    font-weight: 500;
}

.auto-inner img {
    width: 20px;
    height: 20px;
}

.suggestions {
    background-color: white;
    border-radius: 15px;
    padding: 1rem 1rem;
    max-height: 200px; /* Set max height for the suggestions list */
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds max height */
    border: 1px solid #ccc; /* Add border for aesthetic */
}

.suggestions li {
    margin: .5rem 0;
    color: #05367a;
    position: relative;
    z-index: 9;
    cursor: pointer; /* Add cursor pointer for better UX */
    padding: .5rem; /* Add padding for better spacing */
}

/* Style scrollbar */
.suggestions::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

.suggestions::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Border radius of the thumb */
}

.suggestions::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
}
